/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 


/* header section  */

.header-content {
    padding: 60px 0 !important;
}
 .header-content h2 {
    font-size: 30px !important;
    
}
.nav-link {
    
    text-align: right;
}

.hdr-btn{
    text-align: center !important;
}
.padd-custom {
    
    margin-bottom: 15px;
}
.navbar-light .navbar-toggler {
    margin-top: 24px !important;
    border-color: rgba(0,0,0,22.1);
    margin-left: 198px;
}





}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    
 /* header section  */

 .header-content {
    padding: 56px 0;
}
 .header-content h2 {
    font-size: 47px !important;
    
}
.nav-link {
    
    text-align: right;
}

.hdr-btn{
    text-align: center !important;
}
.padd-custom {
    margin-bottom: 15px;
}














}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   

/* header section  */
.header-content h2 {
	font-size: 61px !important;
	
}
.nav-link {
	
	text-align: right;
}

.hdr-btn{
	text-align: center !important;
}
.padd-custom {
	
	margin-bottom: 15px;
}












	}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	
	
	.img-fluid {
		max-width: none;
	}
	
   

	
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	



}
